body {
  text-align: center;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  border: 2px solid black;
}

header p {
  padding-left: 20px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
}

header li {
  border-left: 1px solid black;
  padding: 0 10px;
}

header li:first-child {
  border-left: none;
}

header li:nth-child(1).active,
header li:nth-child(2).active,
header li:nth-child(3).active {
  color: red;
} 

.currentdate {
  text-align: right;
  margin: auto;
  width: 80%;
  padding-top: 10px;
}

.book_wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  border: 2px solid black;
}

.book_wrapper h1 {
  font-size: 24px;
  padding: 10px 0;
  margin: 20px 0;
}

.outputcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
}

.list-books {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 20px;
}

form button {
  background-color: antiquewhite;
  align-self: flex-end;
  margin-right: 20%;
}

.outputcard button {
  background-color: rgb(108, 126, 126);
  height: min-content;
  margin-right: 20px;
}

.outputcard:nth-of-type(odd) {
  background-color: rgb(206, 225, 225);
}

form h2 {
  padding-top: 40px;
}

form input {
  width: 60%;
  margin: auto;
}

p[class^="book-title_"],
p[class^="author-name_"] {
  display: none;
}

form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 80%;
  margin: auto;
}

.contact h2 {
  padding-top: 40px;
}

.contact ul {
  text-align: left;
  margin: auto;
  width: fit-content;
}

footer {
  width: 80%;
  margin: 40px auto 0;
  text-align: left;
  border: 2px solid black;
}

footer p {
  padding-left: 20px;
}

.book_wrapper.inactive {
  display: none;
}

.add_new.inactive {
  display: none;
}

.contact.inactive {
  display: none;
}
